*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.users {
  width: 95%;
  margin-top: 40px;

  & .topnav-add {
    display: grid;
    grid-template-columns: 90% 5% 20%;
    font-size: 30px;
    width: 100%;
  }
  & .grid-container-add {
    margin-top: 80px;
    display: grid;
    text-align: left;
  }
  & .tr-add {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 54% 20%;
    padding: 6px;
  }

  & tr:nth-child(even) {
    background-color: rgb(197, 194, 194);
  }
  & th {
    color: rgb(177, 171, 171);
  }
  & td {
    font-size: 22px;
  }

  & .solid {
    width: 102%;
    background-color: lightgray;
    border: 1px solid rgb(189, 185, 185);
  }

  & .button-check {
    cursor: pointer;
    color: black;
    transition: 0.7s;
  }
  & .button-check:hover {
    color: green;
  }
  & .button-close {
    cursor: pointer;
    color: black;
    transition: 0.6s;
  }
  & .button-close:hover {
    color: red;
  }
  & .email {
  }
}
