body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffff;
  border-radius: 25px;
  width: 22%;
  height: 25vh;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid black;
  box-shadow: 5px 10px 8px 10px #888888;
}
.header:visible {
  transform: translateX(60%) scale(1);
}
.delete {
  position: fixed;
}
/* .close {
  margin-bottom: 55%;
  font-size: 20px;
  margin-left: ;
} */

.data {
  display: flex;
  align-items: center;
  & span {
    font-size: 1em;
  }
}

.trash {
  color: red;
  margin-right: 2px;
}
.data-header {
  font-size: 33px;
}
.button {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.yes {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.7s;
  background: lightgray;
}
.yes:hover {
  background: green;
}

.no {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.7s;
  background: lightgray;
}

.no:hover {
  background: red;
}
