.users {
  width: 95%;
  display: grid;
  align-items: stretch;

  & .topnav-edit {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1em 0em;

    & .topnav-start {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.4em;

      & a {
        font-size: 1.4em;
        text-decoration: none;
        cursor: pointer;
        color: black;
      }
    }
    & .navend {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2em;
    }
  }

  & .data-edit {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
  }

  & .data-start {
    display: flex;
    flex-wrap: wrap;
    height: 10vh;

    & input {
      font-size: 0.8em;
      border: 1px solid black;
      border-radius: 0.3em;
      padding: 0.2em;
    }
    & input:required:invalid {
      border: 2px solid red;
    }
  }

  & .data-end {
    display: flex;
    flex-wrap: wrap;
    height: 5vh;
  }

  & .checkbox {
    width: 2.1em;
    height: 2.4em;
  }

  & .solid {
    width: 56em;
    height: 1px;
    margin: 0.5em 0em;
  }

  & .check-button {
    cursor: pointer;
  }

  & .forename {
    width: 9.5em;
  }
  & .surname {
    width: 9.5em;
  }

  & .trash-button {
    cursor: pointer;
    transition: 0.7s;
    color: black;
  }
  & .trash-button:hover {
    color: red;
  }

  & .close-button {
    color: black;
    transition: 0.7s;
  }
  & .close-button:hover {
    color: red;
  }
  & .spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px lightgray;
    border-bottom-color: gray;
    border-radius: 50%;
    content: "";
    height: 3em;
    width: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@media only (max-width: 800px) {
  .data-section {
  }
}
