*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.users {
  width: 95%;
  display: grid;
  align-items: stretch;

  & .topnav-inspect {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;

    & .topnav-start {
      gap: 0.4em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      & a {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-size: 1.4em;
      }
      & span {
        font-size: 1.4em;
      }
    }
  }

  & .data-inspect {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
  }
  & .data-start {
    display: flex;
    align-items: flex-start;
    gap: 5em;
    flex-wrap: wrap;
    height: 30vh;
  }
  & .data-end {
    display: flex;
    flex-wrap: wrap;
  }
  & label {
    margin: 1em 0em;
    color: rgb(175, 170, 170);
  }
  & .checkbox {
    height: 30px;
    width: 30px;
  }
  & .data-section {
    display: flex;
    flex-direction: column;
  }
  & .end {
    display: flex;
    flex-direction: column;
  }
}

/* @media (max-width: 800px) {
  .users {
    display: flex;
    flex-direction: column;
  }

  .topnav-inspect {
    display: flex;
    flex-direction: column;
    align-items: start;

    & .topnav-start {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
} */

@media (max-width: 780px) {
  .users {
    width: 95%;
  }
  .data-inspect {
    display: flex;
    height: 1vh;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .data-section {
    height: 0.5vh;
  }
  .end {
    margin-bottom: 15em;
  }
}
