card-users {
  width: 100%;
  display: grid;
  overflow: hidden;

  & header {
    width: 95%;
    margin: 1.5em 0em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    & a {
      font-size: 1.3em;
      color: black;
    }
  }

  & footer {
    width: 95%;

    & tr {
      display: grid;
      grid-template-columns: 10em 10em 10em 1em;
    }
    & tr:nth-child(even) {
      background: lightgray;
    }
    & .spinner::before {
      animation: 1.5s linear infinite spinner;
      animation-play-state: inherit;
      border: solid 5px lightgray;
      border-bottom-color: gray;
      border-radius: 50%;
      content: "";
      height: 3em;
      width: 3em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      will-change: transform;
    }
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
/*

.users {
  width: 95%;
  margin-top: 2em;
  display: grid;
  
  align-items: stretch;

  & .topnav {
    width: 100%;
    display: grid;
    grid-template-columns: 50em 10em;
  }

  & tr {
    display: grid;

    /* grid-template-columns: repeat(auto-fit, minmax(20em, 1fr)); 
    grid-template-rows: repeat(auto-fit, min-ciontent);
  grid-template-columns: min-content 2fr 2fr;
    /* grid-template-columns: 5fr 0.1fr; 

    & .data {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      /* grid-template-columns: repeat(auto-fill, 7em 7em 1em); 

      text-align: left;
      align-items: center;
    }
    & .actions {
      display: grid;
      text-align: center;
      align-items: center;
    }
  }

  & .button-search {
    cursor: pointer;
    color: black;
  }
  & .button-plus {
    cursor: pointer;
    color: black;
  }
  & .button-arrow {
    cursor: pointer;
    color: black;
  }
  & .button {
    color: black;
  }

  & .spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px lightgray;
    border-bottom-color: gray;
    border-radius: 50%;
    content: "";
    height: 3em;
    width: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }
}
@media only (min-width: 420px) {
  .topnav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
} */
