card-users {
  width: 95.3%;
  height: 100%;
  display: grid;
  align-items: stretch;

  & header {
    width: 100%;
    margin: 1.4em 0em;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    & a {
      color: black;
      font-size: 1.4em;
    }
    & .button-plus:hover {
      color: green;
    }
  }
  & table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    display: grid;
    overflow-x: auto;

    & tbody {
      height: 98vh;
    }
    & tr {
      display: grid;
      grid-template-columns: 115px 320px 320px 5fr 0fr;
      text-align: left;
      padding: 0.1em;
      align-items: center;
    }
    & th {
      cursor: pointer;
      color: rgb(161, 157, 157);
    }
    & th:hover {
      color: black;
    }

    & .search-button {
      cursor: pointer;
    }
    & .search-button:hover {
      color: black;
    }
    & .checkbox {
      height: 1.2em;
      width: 1.4em;
    }

    & tr:nth-child(even) {
      background: rgb(236, 233, 233);
    }
    & hr {
      height: 1px;
      width: 99%;
    }
    & .button-arrow {
      color: black;
    }
    & .button-arrow:hover {
      color: orange;
    }
    & .search-fields {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 1em;

      & input {
        font-size: 0.8em;
        border: 1px solid black;
        border-radius: 5px;
      }
      & input:focus {
        outline: 2px solid gray;
        box-shadow: 0 0 5px 5px lightgray;
      }
      & .search-forename {
        width: 12em;
        margin-left: 6.2em;
        margin-right: 4.5em;
      }
      & .search-surname {
        width: 12em;
        margin-left: 3px;
        margin-right: 4.5em;
      }
      & .search-email {
        width: 15em;
      }
      & .close-button:hover {
        color: red;
      }
    }
  }
}

.spinner::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px lightgray;
  border-bottom-color: gray;
  border-radius: 50%;
  content: "";
  height: 3em;
  width: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
