card-tokens {
  width: 95.3%;
  display: grid;
  align-items: stretch;

  & header {
    width: 100%;
    margin: 1.4em 0em;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    & a {
      color: black;
      font-size: 1.4em;
    }
    & .button-plus:hover {
      color: green;
      transform: translateY(-4px);
    }
  }
  & table {
    width: 100%;
    border-collapse: collapse;
    display: grid;
    overflow-x: auto;

    & tr {
      display: grid;
      grid-template-columns: 250px 210px 5fr 0fr;
      text-align: left;
      padding: 0.1em;
      align-items: center;
    }
    & th {
      color: rgb(161, 157, 157);
    }
    & .search-button {
      cursor: pointer;
    }
    & .search-button:hover {
      color: black;
      transform: translateY(-4px);
    }

    & tr:nth-child(even) {
      background: rgb(236, 233, 233);
    }
    & hr {
      height: 0px;
      width: 99%;
    }
    & .button-arrow {
      color: black;
    }
    & .button-arrow:hover {
      color: orange;
      transform: translateX(3px);
    }
    & .search-fields {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;

      & input {
        font-size: 0.8em;
        border: 1px solid black;
        border-radius: 5px;
      }
      & .search-username {
        width: 20em;
        margin-left: 3px;
        margin-right: 4em;
      }
      & .search-token {
        width: 8em;
      }
      & .close-button:hover {
        color: red;
        transform: translateY(-4px);
      }
    }
  }
}

.spinner::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px lightgray;
  border-bottom-color: gray;
  border-radius: 50%;
  content: "";
  height: 3em;
  width: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.search-box {
  position: fixed;
  display: flex;
  align-items: center;
  top: 5%;
  left: 40%;
  transition: 0.2s ease-all;

  & input {
    padding: 0.6em;
    width: 22em;
    border: 1px solid gray;
    box-shadow: 0 0 7px black;
  }
  & input:focus {
    border: none;
    box-shadow: 0 0 100px 1000px rgba(0, 0, 0, 0.3);
  }
  & .close-button {
    position: absolute;
    right: -13px;
    top: -12px;
    cursor: pointer;
  }
  & .close-button:hover {
    color: red;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
