/*
 * Copyright © 2022 EC2U Consortium. All rights reserved.
 */

card-card {

    --padding: 5vmin;
    --ratio: 0.8;

    align-self: stretch;
    justify-self: stretch;

    display: grid;
    align-items: stretch;
    justify-items: stretch;

    padding: var(--padding);

    overflow: hidden;

    & > * {
        overflow: hidden;
    }

    & > nav {

        display: grid;
        grid-template-columns: min-content;
        grid-template-rows: min-content 1fr;
        grid-row-gap: 5vmin;

        align-items: stretch;
        justify-items: stretch;

        & > .logo {

            aspect-ratio: 1;

            background-position: 0 0;
            background-size: contain;
            background-repeat: no-repeat;

            &::after {
                display: none !important;
            }

        }

        & > .menu {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(auto-fit, min-content);

            color: #999;

            & > * {
                transform-origin: center;
                transform: scale(0.85);
            }

            & > .spin {

                & > svg {
                    animation: card-spin-rotate 1.75s infinite linear;
                }

            }

        }

    }

    & > div {

        align-self: center;
        justify-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 0.5em;

        text-align: center;
        font-size: 7.5vmin;

    }

    & > main {

        text-align: right;
        white-space: nowrap;

        & > .data {

            display: inline-block;
            transform-origin: top right;

            & > * {
                padding: 0;
                margin: 0;
            }

            & > dt {

                font-size: 0.75em;
                color: #CCC;

                &:not(:first-child) {
                    margin-top: 0.5rem;
                }

            }

            & > dd {
                font-weight: 700;
            }

        }

    }

    & > aside {

        display: grid;
        grid-gap: 2.5vmin;

        & > .photo {

            display: grid;

            border-style: solid;
            border-radius: 0.75em;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            & > svg {
                margin: auto;
                color: #CCC;
                transform: scale(5);
                stroke-width: 0.5;
            }

        }

        & > .qr {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        & > .hologram {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

    }


    @media only screen and (orientation: landscape) {

        --unit: calc((100vh - 2 * var(--padding)) / (4 + (4 + 5) / var(--ratio)));
        --logo: calc(4 * var(--unit));

        grid-template-columns: min-content 1fr min-content;
        grid-template-rows: 1fr;


        & > nav {

            grid-column: 1;
            grid-row: 1;

            & > .logo {
                grid-area: 1 / 1;
                width: var(--logo);
            }

            & > .menu {
                grid-area: 2 / 1;
                align-self: end;
                font-size: calc(0.5 * var(--logo));
            }

        }

        & > div {

            grid-column: 2 / span 2;
            grid-row: 1;

            padding: 0.75em 1.5em;

        }

        & > main {

            grid-column: 2;
            grid-row: 1;

            margin-left: 0.5em;
            margin-right: 1.5em;

        }

        & > aside {

            grid-column: 3;
            grid-row: 1;

            grid-template-columns: calc(4 * var(--unit)) calc(5 * var(--unit));
            grid-template-rows: calc((4 + 5) / var(--ratio) * var(--unit)) calc(4 * var(--unit));

            & > .photo {
                grid-column: 1 / span 2;
                grid-row: 1;
            }

            & > .qr {
                grid-column: 1;
                grid-row: 2;
            }

            & > .hologram {
                grid-column: 2;
                grid-row: 2;
            }

        }

    }

    @media only screen and (orientation: portrait) {

        --unit: calc((100vw - 2 * var(--padding)) / ((5 + (5 + 4) * var(--ratio))));
        --logo: calc(3 * var(--unit));

        grid-template-columns: min-content 1fr;
        grid-template-rows: 1fr min-content;


        & > nav {

            grid-row: 1;
            grid-column: 1;

            & > .logo {
                grid-area: 1 / 1;
                width: var(--logo);
            }

            & > .menu {
                grid-area: 2 / 1;
                align-self: start;
                font-size: calc(0.5 * var(--logo));
            }

        }

        & > div {

            grid-column: 1 / span 2;
            grid-row: 2;

            padding: 0.75em 0.75em;

        }

        & > main {

            grid-row: 1;
            grid-column: 2;

            margin-left: 0.5em;
            margin-bottom: 1em;

        }

        & > aside {

            grid-row: 2;
            grid-column: 1 / span 2;

            grid-template-columns: calc(5 * var(--unit)) calc((5 + 4) * var(--ratio) * var(--unit));
            grid-template-rows: calc(5 * var(--unit)) calc(4 * var(--unit));

            & > .photo {
                grid-column: 2;
                grid-row: 1 / span 2;
            }

            & > .qr {
                grid-column: 1;
                grid-row: 1;
            }

            & > .hologram {
                grid-column: 1;
                grid-row: 2;
            }

        }

    }

    @media screen and (min-width: 512px) and (min-height: 512px) {

        border-style: solid;
        border-radius: 1em;
        transform: scale(0.5);

        box-shadow: 0 0 0 0.5em #F8F8F8;
    }

}

@keyframes card-spin-rotate {
    100% {
        transform: rotate(360deg);
    }
}
