/*
 * Copyright © 2022 EC2U Alliance. All rights reserved.
 */

card-page {

    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr;

    overflow: hidden;

    & > * {

        grid-row: 1;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        overflow: hidden auto;

        & > * {
            flex-shrink: 0;
        }

        & > header {

            z-index: 1;
            position: sticky;
            top: 0;
            box-shadow: 0 0 0.75rem 0.75rem #FFF;

            height: 2em;

            display: flex;
            flex-direction: row;
            align-items: center;

            padding-top: 0.75rem;
            padding-bottom: 0.75rem;

            white-space: nowrap;

            font-size: 3rem;

            & > a {

                display: flex;
                flex-direction: row;
                align-items: center;

            }

        }

        & > section {
            padding-top: 1rem;
            padding-bottom: 1rem;
            flex-grow: 1;
        }

        & > footer {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

    }

    & > aside {

        align-items: center;

        border-right-style: solid;
        font-size: 2.5rem;

        color: var(--node--color-light);

        & > * {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        & > section {

            & > * {

                &:not(:first-child) {
                    margin-top: 0.5em;
                }

            }

        }

    }

    & > main {

        & > * {
            max-width: 50em;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        & > footer {

            white-space: nowrap;
            font-size: 0.9em;
            color: #CCC;

            & > a, & > a:visited {

                font: inherit;
                color: inherit;

                &::before {
                    content: '';
                    margin-left: 0.5em;
                    padding-left: 0.5em;
                    border-left-style: solid;
                }
            }

        }

    }

}