/*
 * Copyright © 2022 EC2U Alliance. All rights reserved.
 */

card-page {

    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr;

    & > * {

        grid-row: 1;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        & > * {
            flex-shrink: 0;
        }

        & > header {

            display: flex;

            padding-top: 0.75rem;
            padding-bottom: 0.75rem;

            white-space: nowrap;

            font-size: 3rem;

            & > button {

                & > i {

                    display: inline-block;
                    width: 1em;
                    aspect-ratio: 1;

                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                }

            }

        }

        & > section {
            flex-grow: 1;
        }

        & > footer {

            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }

    }

    & > aside {

        align-items: center;

        border-right-style: solid;
        font-size: 3rem;

        color: var(--node--color-light);

        & > * {
            padding-left: 1rem;
            padding-right: 1rem;
        }

    }

    & > main {

        & > * {
            padding-left: 1rem;
            padding-right: 1rem;
        }

    }

}