/*
 * Copyright © 2022 EC2U Alliance. All rights reserved.
 */

card-home {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: start;

    grid-column-gap: 2.5em;
    grid-row-gap: 1.5em;

    & > * {
        flex-basis: min-content;
        min-width: 15em;
    }

    & > :first-child {
        flex-grow: 2;
    }

    & > :last-child {
        flex-grow: 1;
    }

    & section {

        display: flex;
        flex-direction: row;
        align-items: start;
        grid-column-gap: 1.5em;

        & > i,
        & > button {
            font-size: 2em;

            & > .lucide {
                vertical-align: baseline;
            }
        }

    }

}