card-addcard {
  width: 95%;
  display: grid;
  align-items: stretch;
  overflow: auto;

  & header {
    width: 100%;
    margin: 1.4em 0em;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;

    & section {
      display: flex;
      flex-wrap: no-wrap;
      gap: 0.5em;
      grid-row-gap: 0px;
    }
    & a {
      text-decoration: none;
      color: black;
      font-size: 1.4em;
    }
    & .cards-link:hover {
      color: gray;
    }
  }

  & .error-message {
    background: rgb(220, 215, 215);
    font-size: 1em;
    color: black;
    height: 70px;
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    border: 2px solid gray;
    margin-bottom: 1em;
    & div {
      display: flex;
      justify-content: space-between;
      & span {
        color: red;
        cursor: pointer;
      }
    }

    & p {
      color: red;
      margin-top: 10px;
    }
  }

  & form {
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    overflow-y: auto;
    grid-row-gap: 1em;

    & .start {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-row-gap: 1em;
    }
    & section {
      display: flex;
      flex-flow: wrap;
      flex-direction: column;

      & label {
        color: rgb(161, 157, 157);
      }
      & input {
        margin-top: 0.5em;
        border: 1px solid black;
        padding: 0.2em;
        border-radius: 0.3em;
        font-size: 0.9em;
      }
      & input:focus {
        outline: 2px solid gray;
        box-shadow: 0 0 2px 4px lightgray;
      }
      & input:required:valid:not([value="0"]) {
        border: 3px solid green;
      }

      & input:required:invalid {
        border: 1px solid red;
      }
      & input:invalid {
        animation: shake 300ms;
      }
    }
    & .forename {
      width: 9rem;
      margin-left: 5px;
    }
    & .surname {
      width: 9rem;
      margin-left: 5px;
    }
    & .card-number {
      width: 5rem;
      margin-left: 5px;
    }
    & .expiry-date {
      border: 1px solid lightgray;
      margin-left: 5px;
    }
  }
  & .button-check {
    cursor: pointer;
    font-size: 20px;
  }
  & .button-check:hover {
    color: green;
  }
  & .button-close:hover {
    color: red;
  }
}

.spinner::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px lightgray;
  border-bottom-color: gray;
  border-radius: 50%;
  content: "";
  height: 3em;
  width: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
