card-inspectcard {
  width: 95%;
  display: grid;

  & header {
    width: 100%;
    margin: 1.3em 0em;
    display: flex;

    justify-content: space-between;

    & section {
      display: flex;
      gap: 0.5em;
    }
    & a {
      text-decoration: none;
      color: black;
      font-size: 1.4em;
    }
    & .cards-link:hover {
      color: orange;
      transform: translateX(-3px);
    }
  }
  & .spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px lightgray;
    border-bottom-color: gray;
    border-radius: 50%;
    content: "";
    height: 3em;
    width: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }
  & form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    overflow: auto;

    & .start {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      & label {
        color: rgb(161, 157, 157);
      }
      & span {
        margin-top: 1em;
        font-size: 0.9em;
      }
    }
  }
  & .button-edit:hover {
    color: green;
    transform: translateY(-3px);
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
