card-inspectcard {
  width: 95%;
  display: flex;
  flex-direction: column;

  & header {
    width: 100%;
    margin: 2em 0em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5em;
    }
    & a {
      text-decoration: none;
      color: black;
      font-size: 1.4em;
    }
    & .cards-link:hover {
      color: orange;
      transform: translateX(-3px);
    }
  }
  & form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .start {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      & label {
        color: rgb(161, 157, 157);
      }
      & span {
        margin-top: 1em;
        font-size: 0.9em;
      }
    }
  }
  & .button-edit:hover {
    color: green;
    transform: translateY(-3px);
  }
}
