.cards {
  width: 95%;
  margin-top: 2em;

  & .topnav-cards {
    display: grid;
    grid-template-columns: 98% 20%;
    font-size: 1.4em;
    width: 100%;
  }
  & .grid-container-cards {
    margin-top: 2em;
    display: grid;
    text-align: left;
  }
  & .tr-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 13% 25% 45% 10%;
    padding: 6px;
    align-items: center;
  }
  & tbody:nth-child() {
    background-color: rgb(197, 194, 194);
  }
  & th {
    color: rgb(177, 171, 171);
  }
  & td {
    font-size: 20px;
  }
  & .solid-cards {
    width: 101%;
    background-color: lightgray;
    border: 1px solid rgb(189, 185, 185);
  }
  & .button-search {
    cursor: pointer;
    color: black;
  }
  & .button-plus {
    cursor: pointer;
    color: black;
  }
  & .button-arrow {
    cursor: pointer;
    color: black;
  }
  & .spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px lightgray;
    border-bottom-color: gray;
    border-radius: 50%;
    content: "";
    height: 3em;
    width: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
