

.cards {
  width: 95%;
  display: grid;
  align-items: stretch;

  & .topnav-cardedit {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1em 0em;

    & .topnav-start {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.4em;

      & a {
        font-size: 1.4em;
        text-decoration: none;
        cursor: pointer;
        color: black;
      }
    }
    & .navend {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2em;
    }
  }

  & .data-edit {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
  }

  & .data-start {
    display: flex;
    flex-wrap: wrap;

    & input {
      font-size: 0.8em;
      border: 1px solid black;
      border-radius: 0.3em;
      padding: 0.2em;
    }
    & input:required:invalid {
      border: 2px solid red;
    }
  }

  & .data-end {
    display: flex;
    flex-wrap: wrap;
  }

  & .checkbox {
    width: 2.1em;
    height: 2.4em;
  }

  & .solid {
    width: 56em;
    height: 1px;
    margin: 0.5em 0em;
  }

  & .check-button {
    cursor: pointer;
  }

  & .forename {
    width: 9.5em;
  }
  & .surname {
    width: 9.5em;
  }

  & .trash-button {
    cursor: pointer;
    transition: 0.7s;
    color: black;
  }
  & .trash-button:hover {
    color: red;
  }

  & .close-button {
    color: black;
    transition: 0.7s;
  }
  & .close-button:hover {
    color: red;
  }
}

/* @media (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;

    & .navbar {
      display: flex;
      flex-direction: column;
      align-items: start;
      flex-flow: column-wrap;

      & .nav-start {
        display: flex;
        flex-direction: column;
        aling-items: start;
        & a {
          display: flex;
          align-items: center;
        }
      }
    }
    & .data-edit {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    & .data-start {
      display: flex;
      flex-direction: column;
      & label {
        margin: 0em;
      }
      & input {
        margin: 0em;
      }
    }
    & .data-end {
      display: flex;
      flex-direction: column;
      & input {
        margin-top: 0em;
      }
    }
    & .solid {
      height: 0px;
      width: 0px;
    }
  }
} */
