/*
 * Copyright © 2020-2022 EC2U Consortium. All rights reserved.
 */

html {
  --card--color: green;
}

html {
  font-family: Helvetica;
  font-size: 18pt;
}

card-root {
  width: 100%;
  height: 100%;

  display: grid;
  & .container {
    margin-left: 270px;
    transition: margin-left 0.2s ease-in;
  }
  & .container.inactive {
    margin-left: 120px;
  }
}
