/*
 * Copyright © 2022 EC2U Alliance. All rights reserved.
 */

:root {

    --card--color-accent-lite: #F7D638;
    --card--color-accent-dark: #162372;

}

/**** Layout **********************************************************************************************************/

body, body > * {
    display: grid;
    grid-template:100vh / 100vw;
    align-items: stretch;
    justify-items: stretch;
}
