<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="Card" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="eu.ec2u.card.CardApplication" />
    <option name="HIDE_BANNER" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <option name="SHORTEN_COMMAND_LINE" value="NONE" />
    <option name="UPDATE_ACTION_UPDATE_POLICY" value="UpdateClassesAndTriggerFile" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>